-
    mainMenu = [
        {
            "link" : "#about",
            "text" : "About the shelter",
        },
        {
            "link": "pets/index.html",
            "text": "Our pets",
        },
        {
            "link": "#help",
            "text": "Help the shelter",
        },
        {
            "link": "#footer",
            "text": "Contacts",
        },
    ]
    ourShelter = [
        {
            "ico": "pet-food",
            "name": "Pet food",
        },
        {
            "ico": "transportation",
            "name": "Transportation",
        },
        {
            "ico": "toys",
            "name": "Toys",
        },
        {
            "ico": "bowls-and-cups",
            "name": "Bowls and cups",
        },
        {
            "ico": "shampoos",
            "name": "Shampoos",
        },
        {
            "ico": "vitamins",
            "name": "Vitamins",
        },
        {
            "ico": "medicines",
            "name": "Medicines",
        },
        {
            "ico": "collars",
            "name": "Collars / leashes",
        },
        {
            "ico": "sleeping-area",
            "name": "Sleeping areas",
        },
    ]

doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        title= 'Shelter'
    body
        header.header
            .container.header__items
                .header__item
                    h1
                        a(class="header__logo" href="#") Cozy House
                    .header__slogan Shelter for pets in Boston
                .header__item
                    nav.main-menu
                        .burger
                            span
                        ul.main-menu__list
                            each item in mainMenu
                                li.main-menu__item
                                    a(href=item.link class="burger-link nav-link active") !{item.text}


        section#not-only.not-only
            .container
                .wrapper
                    h2 Not only people need a house
                    .not-only__slogan We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!
                    a(href="#our-friends" class="button") Make a friend
        section#about.about
            .container
                .wrapper
                    .about__items.about__items_first
                        img(src=require('/src/img/about.png'), class="about__img", alt="Shelter about")
                    .about__items
                        h3.about__title
                            |About the shelter
                            br
                            |“Cozy House”
                        p.about__text Currently we have 121 dogs and 342 cats on our hands and statistics show that only 20% of them will find a family. The others will continue to live with us and will be waiting for a lucky chance to become dearly loved.
                        p.about__text We feed our wards with the best food and make sure that they do not get sick, feel comfortable (including psychologically) and well. We are supported by 87 volunteers and 28 employees of various skill levels. About 12% of the animals are taken by the shelter staff. Taking care of the animals, they become attached to the pets and would hardly ever leave them alone.
        section#our-friends.our-friends
            .container
                h2.title
                    div Our friends who
                    div are looking for a house

                .slider Тут будет слайдер

                a(href="pets/index.html" class="button") Get to know the rest

        section#help.help
            .container
                h2.title
                    div How you can help
                    div our shelter
                .help__items
                    each item in ourShelter
                        .help__item
                            .ico
                            .name !{item.name}

        section#in-addition.addition
            .container
                .wrapper
                    .addition__item
                        img(src=require('/src/img/donation-dog.png'), alt="donation dog", class="addition__img")
                    .addition__item
                       h3.addition__title You can also<br>make a donation
                       p.addition__text  Name of the bank / Type of bank account
                       a(href="#" class="credit-card") 8380 2880 8028 8791 7435
                       p.addition__text_min Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        footer#footer.footer
            .container
                .wrapper
                    .footer__item
                        .footer__title For questions and suggestions
                        div
                            a(href="mailto:name@email@shelter.com" class="ico mail") email@shelter.com
                            a(href="tel:+136745677554" class="ico phone") +13 674 567 75 54
                    .footer__item
                        .footer__title We are waiting for your visit
                        .footer__address
                            a(href="https://www.google.ru/maps/place/%D0%A1%D0%B0%D0%BD%D1%82%D1%8C%D1%8F%D0%B3%D0%BE+%D0%91%D0%B5%D1%80%D0%BD%D0%B0%D0%B1%D0%B5%D1%83/@53.905559,27.5596136,12.83z/data=!4m5!3m4!1s0xd4228e23705d39f:0xa8fff6d26e2b1988!8m2!3d40.4530387!4d-3.6883337" class="ico marker") 1 Central Street, Boston (entrance from the store)
                            a(href="https://www.google.ru/maps/place/%D0%A1%D0%B0%D0%BD%D1%82%D1%8C%D1%8F%D0%B3%D0%BE+%D0%91%D0%B5%D1%80%D0%BD%D0%B0%D0%B1%D0%B5%D1%83/@53.905559,27.5596136,12.83z/data=!4m5!3m4!1s0xd4228e23705d39f:0xa8fff6d26e2b1988!8m2!3d40.4530387!4d-3.6883337" class="ico marker") 18 South Park, London
                    .footer__item
                        .footer__photo
                            img(src=require('/src/img/footer-puppy.png'), alt="puppy", width=300 height=310)




